body{
    margin: 0;
}
.container{
    margin: 30px auto;
    background-color: rgb(189, 188, 188);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
height: 0px;
width: 0px;
border:  20px solid transparent;

/* border-top-color: rgb(6, 14, 116); */
border-right-color: rgb(214, 236, 16);
/* border-bottom-color: rgb(153, 24, 35);
border-left-color: rgb(7, 7, 7); */

}
.right{
    height: 0px;
width: 0px;
border:  20px solid transparent;
border-left-color: rgb(7, 7, 7); 
}
.div_img{
   display: flex;
   justify-content: center;
}
.div_img img{
  
    width: 100%;
}
.container_footer{
    display: flex;
    justify-content: center;
}

.container_footer img{
    height: 25%;
    width: 25%;
}